.users {
  display: flex;
  justify-content: space-around;
  color: black;
  height: 100%;
}

.users_list,
.users_create {
  margin: 20px 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 40%;
}
